In [2]:
import pandas as pd
df=pd.read_csv("C:\\Users\\apadh\\OneDrive\\Desktop\\ml_journey\\pandas_works\\world_famous_place\\world_famous_places_2024.csv")

In [3]:
df.columns

Index(['Place_Name', 'Country', 'City', 'Annual_Visitors_Millions', 'Type',
       'UNESCO_World_Heritage', 'Year_Built', 'Entry_Fee_USD',
       'Best_Visit_Month', 'Region', 'Tourism_Revenue_Million_USD',
       'Average_Visit_Duration_Hours', 'Famous_For'],
      dtype='object')

In [4]:
df.isnull().sum()

Place_Name                      0
Country                         0
City                            0
Annual_Visitors_Millions        0
Type                            0
UNESCO_World_Heritage           0
Year_Built                      0
Entry_Fee_USD                   0
Best_Visit_Month                0
Region                          0
Tourism_Revenue_Million_USD     0
Average_Visit_Duration_Hours    0
Famous_For                      0
dtype: int64

In [5]:
df.rename(columns={"Place_Name": "place_name","Country": "country","City": "city","Annual_Visitors_Millions": "annual_visitors_millions","Type": "type","UNESCO_World_Heritage": "unesco_world_heritage","Year_Built": "year_built","Entry_Fee_USD": "entry_fee_usd","Best_Visit_Month": "best_visit_month","Region": "region","Tourism_Revenue_Million_USD": "tourism_revenue_million_usd","Average_Visit_Duration_Hours": "average_visit_duration_hours","Famous_For": "famous_for"},inplace=True)

In [6]:
df.columns

Index(['place_name', 'country', 'city', 'annual_visitors_millions', 'type',
       'unesco_world_heritage', 'year_built', 'entry_fee_usd',
       'best_visit_month', 'region', 'tourism_revenue_million_usd',
       'average_visit_duration_hours', 'famous_for'],
      dtype='object')

In [ ]:
# filter world famous places in india
df[df["country"] == "India"]

,place_name,country,city,annual_visitors_millions,type,unesco_world_heritage,year_built,entry_fee_usd,best_visit_month,region,tourism_revenue_million_usd,average_visit_duration_hours,famous_for
4,Taj Mahal,India,Agra,7.5,Monument/Mausoleum,Yes,1653,15,Oct-March,South Asia,65,2.0,"White marble mausoleum, symbol of love"

In [ ]:
# Count number of places per country
df["country"].value_counts()

country
United States           10
France                   4
United Kingdom           3
China                    2
Italy                    2
India                    1
Australia                1
Peru                     1
Spain                    1
Cambodia                 1
Egypt                    1
Greece                   1
United Arab Emirates     1
Brazil                   1
Name: count, dtype: int64

In [11]:
# which country has more places
df["country"].value_counts().idxmax()

'United States'

In [14]:
# Find places that are UNESCO World Heritage sites
df[df["unesco_world_heritage"] == "Yes"]

,place_name,country,city,annual_visitors_millions,type,unesco_world_heritage,year_built,entry_fee_usd,best_visit_month,region,tourism_revenue_million_usd,average_visit_duration_hours,famous_for
2,Louvre Museum,France,Paris,8.70,Museum,Yes,1793,22,Oct-March,Western Europe,120,4.0,"World's most visited museum, home to Mona Lisa"
3,Great Wall of China,China,Beijing/Multiple,10.00,Historic Monument,Yes,220 BC - 1644 AD,10,Apr-May/Sept-Oct,East Asia,180,4.0,Ancient defensive structure visible from space
4,Taj Mahal,India,Agra,7.50,Monument/Mausoleum,Yes,1653,15,Oct-March,South Asia,65,2.0,"White marble mausoleum, symbol of love"
5,Colosseum,Italy,Rome,7.65,Historic Monument,Yes,80,18,Apr-May/Sept-Oct,Southern Europe,85,2.5,Ancient Roman amphitheater for gladiator battles
6,Statue of Liberty,United States,New York City,4.30,Monument/Statue,Yes,1886,25,May-Sept,North America,45,2.0,Symbol of freedom and democracy
7,Sydney Opera House,Australia,Sydney,8.20,Cultural Building,Yes,1973,49,Sept-Nov,Oceania,110,1.5,"Unique sail-like design, performing arts center"
8,Machu Picchu,Peru,Cusco Region,1.50,Archaeological Site,Yes,1450,70,Apr-Oct,South America,180,8.0,Ancient Incan citadel in the Andes mountains
9,Forbidden City,China,Beijing,9.00,Historic Palace,Yes,1420,8,Apr-May/Sept-Oct,East Asia,75,3.0,Imperial palace of Ming and Qing dynasties
10,Angkor Wat,Cambodia,Siem Reap,2.60,Temple Complex,Yes,1150,37,Nov-Feb,Southeast Asia,90,6.0,"Largest religious monument, Hindu-Buddhist temple"
11,Notre-Dame Cathedral,France,Paris,13.00,Cathedral,Yes,1345,0,Apr-June/Sept-Oct,Western Europe,50,1.0,"Gothic masterpiece, medieval Catholic cathedral"
17,Sagrada Familia,Spain,Barcelona,4.70,Cathedral,Yes,Under Construction (Started 1882),26,Apr-June/Sept-Oct,Southern Europe,130,2.0,"Gaudí's unfinished basilica, unique architecture"
20,Grand Canyon,United States,Arizona,6.00,Natural Wonder,Yes,Natural Formation,35,March-May/Sept-Nov,North America,780,5.0,Massive canyon carved by Colorado River
21,Great Pyramid of Giza,Egypt,Cairo,2.80,Historic Monument,Yes,2550,20,Oct-Apr,North Africa,40,3.0,"Only remaining ancient wonder, pharaoh's tomb"
22,Leaning Tower of Pisa,Italy,Pisa,5.00,Historic Tower,Yes,1372,20,Apr-May/Sept-Oct,Southern Europe,55,1.5,"Tilted bell tower, architectural anomaly"
23,Palace of Versailles,France,Versailles,7.70,Historic Palace,Yes,1682,21,Apr-June/Sept-Oct,Western Europe,180,4.0,"Opulent royal residence, Hall of Mirrors"
24,Acropolis,Greece,Athens,4.00,Archaeological Site,Yes,447,13,Apr-May/Sept-Oct,Southern Europe,60,3.0,"Ancient citadel, Parthenon temple"
26,Big Ben,United Kingdom,London,5.50,Clock Tower,Yes,1859,0,Apr-June/Sept-Oct,Western Europe,65,0.5,"Clock tower, Westminster Palace"

In [17]:
#Find the oldest place (minimum year built)
df.loc[df["year_built"].idxmin()]

place_name                                                             Angkor Wat
country                                                                  Cambodia
city                                                                    Siem Reap
annual_visitors_millions                                                      2.6
type                                                               Temple Complex
unesco_world_heritage                                                         Yes
year_built                                                                   1150
entry_fee_usd                                                                  37
best_visit_month                                                          Nov-Feb
region                                                             Southeast Asia
tourism_revenue_million_usd                                                    90
average_visit_duration_hours                                                  6.0
famous_for                      Largest religious monument, Hindu-Buddhist temple
Name: 10, dtype: object

In [18]:
#Find total annual visitors (millions) per country
df.groupby("country")["annual_visitors_millions"].sum()

country
Australia                 8.20
Brazil                    2.20
Cambodia                  2.60
China                    19.00
Egypt                     2.80
France                   36.40
Greece                    4.00
India                     7.50
Italy                    12.65
Peru                      1.50
Spain                     4.70
United Arab Emirates      6.00
United Kingdom           27.30
United States           205.10
Name: annual_visitors_millions, dtype: float64